

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
{{ attach_library ('customform/cf-css') }}

<div class="row custom-form">
  <div class="col-lg-6">

  </div>
  <div class="col-lg-6">
   {{ form.text }}
   {{ form.name }}
   {{ form.email }}
   {{ form.password }}
   {{ form.cancel }}
   {{ form.actions.submit }}
   {{ form.actions.submit_with_endpoint }}
  </div>
</div>